navBar{

}
.navBar ul{
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background: black;
}
.navBar li{
  float:left;
  font-family: "Arial";
}
.navBar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  margin: 5px;

}
.navBar li a: hover{
  background-color: white;
}
